body {
    font: 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.landpage {
    background: url("../../home/img//landing/background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
}

.bus {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 230px;
    bottom: 25%;
    -webkit-animation: bus 13s linear infinite;
    -moz-animation: bus 13s linear infinite;
    -o-animation: bus 13s linear infinite;
    animation: bus 13s linear infinite;
}

.mobil-1 {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 130px;
    bottom: 17%;
    -webkit-animation: mobil-1 24s linear infinite;
    -moz-animation: mobil-1 24s linear infinite;
    -o-animation: mobil-1 24s linear infinite;
    animation: mobil-1 24s linear infinite;
}

.mobil-2 {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 150px;
    bottom: 20%;
    -webkit-animation: mobil-2 16s linear infinite;
    -moz-animation: mobil-2 16s linear infinite;
    -o-animation: mobil-2 16s linear infinite;
    animation: mobil-2 16s linear infinite;
}

.motor {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 100px;
    bottom: 2%;
    -webkit-animation: motor 8s linear infinite;
    -moz-animation: motor 8s linear infinite;
    -o-animation: motor 8s linear infinite;
    animation: motor 8s linear infinite;
}

.mobil-3 {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 150px;
    bottom: 8%;
    -webkit-animation: motor 20s linear infinite;
    -moz-animation: motor 20s linear infinite;
    -o-animation: motor 20s linear infinite;
    animation: motor 20s linear infinite;
}

.mobil-4 {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    max-width: 130px;
    bottom: 5%;
    -webkit-animation: motor 11s linear infinite;
    -moz-animation: motor 11s linear infinite;
    -o-animation: motor 11s linear infinite;
    animation: motor 11s linear infinite;
}

@keyframes bus {
    0% {
        transform: translate(1400px);
    }
    50% {
        transform: translate(100px);
    }
    70% {
        transform: translate(100px);
    }
    100% {
        transform: translate(-500px);
    }
}

@keyframes mobil-1 {
    0% {
        transform: translate(1200px);
    }
    100% {
        transform: translate(-500px);
    }
}

@keyframes mobil-2 {
    0% {
        transform: translate(1300px);
    }
    100% {
        transform: translate(-500px);
    }
}

@keyframes motor {
    0% {
        transform: translate(-300px);
    }
    100% {
        transform: translate(1400px);
    }
}